<nav class="navbar navbar-dark">
  <%= link_to root_path, class: 'navbar-brand' do %>
    <%=  image_tag 'https://www.themoviedb.org/assets/2/v4/logos/primary-green-d70eebe18a5eb5b166d5c1ef0796715b8d1a2cbc698f96d311d62f894ae87085.svg', width: '30px', class: 'd-inline-block align-top' %>
    MBDB Listing
  <% end %>
</nav>
